h1 {
  font-family: Arial, Helvetica, sans-serif;
  top: 0px;
  background-color: transparent;
  border-radius: 100px;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 20%);
  display: block;
  text-align: center;
}

body {
  background: linear-gradient(to left, white, #59d1da, #445faa);
  display: block;
}

#city-form {
  border-radius: 180px;
  display: block;
  text-align: right;
}
#button {
  background-color: transparent;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 20%);
  border-radius: 100px;
  text-align: left;
}
#current {
  background-color: transparent;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 20%);
  border-radius: 100px;
  text-align: left;
}

#button:hover {
  background-color: white;
  border-radius: 100px;
}
#current:hover {
  background-color: rgb(248, 244, 244);
  border-radius: 100px;
}

.temp {
  display: block;
  font-size: 50px;
  text-align: left;
}

#link {
  color: blueviolet;
}
#explain {
  display: block;
  text-align: left;
}
#units {
  display: block;
  text-align: left;
  
}
.desc {
  text-transform: capitalize;
}

#icon {
  display: block;
  text-align: left;
  position: relative;
  top: -10px;
  left: 0px;
}
#cel {
  color: black;
  cursor: default;
  text-decoration: none;
}


#cel:hover {
  text-decoration: none;
}

.weather-forecast {
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  font-family: Helvetica Neue Ultra Thin;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
